*.o
*.lo
*.so
*.la
*.a
*.log
.deps
Makefile
Makefile.in
configure
autom4te.cache
config.status
aclocal.m4
m4/*
.libs
.common
libtool
ltmain.sh
compile
depcomp
install-sh
missing
config.guess
config.sub
xio_mt_client
xio_mt_server
raio_client
raio_server
xio_client
xio_server
xio_rdma_client
xio_rdma_server
xio_bidi_client
xio_bidi_server
xio_lat_client
xio_lat_server
xio_ow_client
xio_ow_server
xio_oneway_client
xio_oneway_server
xio_read_lat
xio_read_bw
xioclntd
xiosrvd
event_loop_tests
src/tools/usr/Makefile.in
src/tools/usr/xio_mem_usage
src/tools/usr/xio_if_numa_cpus
regression/usr/reg_basic_mt/reg_basic_mt
version.c
*/usr/*/Makefile.in
*/usr/Makefile.in
doc
Doxyfile
.dirstamp
*.o.cmd
*.ko.cmd
*.ko.unsigned.cmd
*.ko.unsigned
*.ko
*.mod.c
modules.order
Module.symvers
.tmp_versions
*.vcxproj.filters
*.vcxproj.user
*.v12.suo
*.sdf
Debug
Release
GPATH
GRTAGS
GTAGS
