*.o
*.lo
*.so
*.la
*.a
*.log
.deps
Makefile
configure
autom4te.cache
config.status
aclocal.m4
m4/*
.libs
libtool
ltmain.sh
compile
config.guess
config.sub
xio_mt_client
xio_mt_server
raio_client
raio_server
xio_client
xio_server
xio_bidi_client
xio_bidi_server
xio_lat_client
xio_lat_server
xio_ow_client
xio_ow_server
xio_oneway_client
xio_oneway_server
xio_read_lat
xio_read_bw
xioclntd
xiosrvd
regression/usr/reg_basic_mt/reg_basic_mt
version.c
*/usr/*/Makefile.in
*/usr/Makefile.in
doc
Doxyfile
.dirstamp
